Source: karaage-registration
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.6.6-3), cdbs (>= 0.4.90)
Standards-Version: 3.9.3

Package: karaage-registration
Architecture: all
Homepage: http://code.vpac.org/trac/karaage/
Depends: ${misc:Depends}, ${python:Depends}, karaage (>= 2.8.0), karaage-common (>=1.1.2)
Description: Registration interface to karaage
 This package contains the registration web interface to Karaage.
