{% extends "base_site.html" %}
{% load url from future %}

{% block coltype %}colSM{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module">
    <h2>Quick links</h2>
    <ul>
      <li><a class="{% active request "$" %}" href="{% url 'index' %}">Home</a></li>
      {% if user.is_authenticated %}
      <li><a class="{% active request "profile/" %}" href="{% url 'kg_user_profile' %}">My profile</a></li>
      <li><a class="{% active request "change_password/" %}" href="{% url 'password_change' %}">Change Password</a></li>
      <li><a class="{% active request "applications/" %}" href="{% url 'kg_application_list' %}">Pending Applications</a> {% if pending_applications %} ({{ pending_applications }}){% endif %}</li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Log In</a></li>
      <li><a class="{% active request "new/" %}" href="{% url 'kg_application_new' %}">Apply for an account</a></li>
      {% endif %}
    </ul>
  </div>
  {% block sidebar_extra %}
  {% block object-tools %}
  {% endblock %}
  {% endblock %}
</div>
{% endblock %}
