{% load common %}
<div id="content-related">
  <div class="module">
    
    <h2>links</h2>
    <ul>
      <li><h3><a class="{% active request "$" %}" href="{% url index %}">Home</a></h3></li>
      {% if user.is_authenticated %}
      <li><h3><a class="{% active request "profile/" %}" href="{% url kg_user_profile %}">My profile</a></h3></li>
      <li><h3><a class="{% active request "software/" %}" href="{% url kg_software_list %}">Software</a></h3></li>
      <li><h3><a class="{% active request "change_password/" %}" href="{% url kg_user_change_password %}">Change Password</a></h3></li>
      <li><h3><a href="{% url logout %}">Log Out</a></h3></li>
      {% else %}
      <li><h3><a href="{% url login %}">Log In</a></h3></li>
      <li><h3><a class="{% active request "applications/" %}" href="{% url kg_application_index %}">Apply for an account</a></h3></li>
      {% endif %}
    </ul>
  </div>
</div>
