{% load common %}
<div id="content-related">
  <div class="module">
    
    <h2>links</h2>
    <ul>
      <li><h3><a class="{% active request "software/" %}" href="{% url kg_software_list %}">Software</a></h3></li>
      <li><h3><a class="{% active request "pbs/" %}" href="{% url pbs_server_list %}">PBS Servers</a></h3></li>
      {% if perms.machines.add_useraccount %}
        	  {% if request_count %}
        	  <li><h3><a class="{% active request "requests/" %}" href="{% url kg_account_request_list %}">Account Requests</a> ({{ request_count }})</h3></li>
        	  {% endif %}
      {% endif %}
    </ul>
  </div>
</div>
